@tailwind base;
@tailwind components;
@tailwind utilities;



#nome {
    font-family: "arial", serif;
    font-weight: 700;
    font-style: normal;
}
input:focus {
    outline: none;
    border: none;
}